* {
  font-family: 'Lato', sans-serif;
  cursor: crosshair;
}

body {
  background-color: black;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

.hp-text {
  text-align: center;
  margin-top: 10%;
  color: white
}

.hp-btn {
  width: 90px;
  margin-left: 45%;
  margin-top: 3%;
  background: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.header-row{
  padding-left:5%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-bottom: .5%;
  width: 100%;
  margin-bottom: 1%;
}

.nav-heading {
  padding-top: 1%;
  color: black;
  font-weight: 500;
}

.money-sign {
  margin-top:1%;
  color: black;
}

.rows {
  display: flex;
}

.wicked-container{
  display: flex;
  margin-top: 1%;
}

.cart-container {
  margin-top: 1%;
  margin-right: 4%;
  cursor: pointer;
}

.shopping-cart {
  color: black;
  margin-left: 10px;
  cursor: pointer;
}

.item-count{
  color: black;
}

.card-container {
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

.card {
  -webkit-box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  background: #FFFFFF;
  cursor: crosshair;
}

.card-details {
  -webkit-box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  background: #FFFFFF;
  width: 50%;
  margin-left: 25%;
}

.card-title {
  font-weight: 600;
}

.image {
  height: 400px;
  margin-left: 2px;
  object-fit: contain;
}

.card-text {
  color: #333a4082;
  font-weight: 400;
}

.image-short-container {
  display: flex;
  margin-top: 10px;
}

.short-des {
  margin-left: 10px;
}

.card-des-long {
  padding-left: 5px;
  padding-top: 20px;
}

.total-price {
  padding-left: 10%;
  color: white;
}

.text-summary {
  color: white;
    padding-left: 10%;
}

.text-summary {
  cursor: pointer;
}

.back-to-catalog {
  cursor: pointer;
}

.back-to-catalog:link {
  padding-left: 10px;
  text-decoration: none;
  color: #333a4071;
  cursor: pointer;
}

back-to-catalog:hover {
  text-decoration: none;
  cursor: pointer;
}

.card-details {
  padding: 20px;
  border: solid 1px rgba(0, 0, 0, 0.134);
}

.square_btn{
  background: black;
  font-size: 12px;
  border-radius: 10px;
  color: white;
}
.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

button:focus {
  outline:0;
}

.card-item {
  display: flex;
}

.card-item-container {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  background: #FFFFFF;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 2%;
  border: solid rgba(0, 0, 0, 0.079);
}

.total-price, .back-to-catalog {
  margin-left: 10px;
}

.checkout-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkout-btn {
  margin-right: 10%;
  background-color: white;
  color: black;
}

.form {
  -webkit-box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  box-shadow: 5px 5px 4px 4px rgba(255,255,255,0.32);
  background-color: white;
  margin-left: 50px;
  margin-right: 50%;
  border-radius: 10px;
}

.form-group{
  margin-left: 10px;
  margin-right: 10px;
}

.form-header{
  margin-left: 10px;
}

.form-total {
  margin-left: 10px;
  color: #333a4082;
  font-weight: 400;
}

.form-btn{
  margin-left: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .form  {
    margin-top: 10px;
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px) {
    .card-details {
      margin-left: 0%;
      width: 100%;
    }
  }

@media only screen and (max-width: 600px) {
  .card-details  {
    width: 100%;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    height: 200px;
  }
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : portrait) {
  .card-item-container {
    margin-left: 0%;
    width: 100%;
  }
}
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    .card-item-container {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
  .card-details {
    margin-left: 0%;
    width: 100%;
  }
  .form {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
  .card-details {
    margin-left: 0%;
    width: 100%;
  }
  .form {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {
    .form {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    .hp-text {
      margin-top: 50%;
      font-size: 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
    .hp-btn {
    margin-top: 10%;
    margin-left: 38%;
    /* width: 100%; */
  }
}
